.animal-game {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .animal-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .result-header {
    color: #050302; 
  }
  
  .animal-name-header {
    color: #050302; 
  }
  
  .grid-header {
    color: #050302; 
    background-color: #f3f7f3; 
  }
  
  .result-panel {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6347; 
  }
  
  .result.win {
    color: rgb(240, 98, 17); 
  }
  
  .result.lose {
    color: rgb(240, 98, 17); 
  }
  
  .animal-name-panel {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(240, 98, 17);
  }
  
  .grid-panel {
    background-color: #add8e6; 
    padding: 20px;
  }
  
  .grid-table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .grid-table td {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: transform 0.3s, border 0.3s;
  }
  
  .grid-table td img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .grid-table td:hover {
    transform: scale(1.1);
    border: 2px solid #00f;
  }
  