.animal-game {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .animal-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .result-header {
    color: #050302; /* Tomato red */
  }
  
  .animal-name-header {
    color: #050302; /* Steel blue */
  }
  
  .grid-header {
    color: #050302; /* Sea green */
    background-color: #d8f3dc; /* Light greenish background */
  }
  
  .result-panel {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6347; /* Tomato red */
  }
  
  .result.win {
    color: rgb(240, 98, 17); /* Win color */
  }
  
  .result.lose {
    color: rgb(240, 98, 17); /* Lose color */
  }
  
  .animal-name-panel {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(240, 98, 17); /* Steel blue */
  }
  
  .grid-panel {
    background-color: #add8e6; /* Light blue background for the grid */
    padding: 20px;
  }
  
  .grid-table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .grid-table td {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: transform 0.3s, border 0.3s;
  }
  
  .grid-table td img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .grid-table td:hover {
    transform: scale(1.1);
    border: 2px solid #00f;
  }
  